body {
    margin: 0px;
    overflow: hidden;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#scene {
    height: 100%;
    width: 100%;
    position: relative;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#fps {
    position: absolute;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    text-align: center;
    font-size: 16px;
    color: white;
    top: 15px;
    right: 30px;
    width: 60px;
    height: 20px;
}

#assetPicker {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    opacity: 0.95;
    height: 100%;
    transition: 0.5s;
    top: 0%;
    left: 100%;
    z-index: 1;
}

#updateAssets {
    transform: translateY(50%);
}

#assetPickerShower {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-100%, 50%);
}

#assetPicker.slide-in {
    animation: 0.5s;
    transform: translateX(-100%);
}

#optionsPanel {
    top: 5%;
    left: 50%;
    width: 50%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}

#optionsPanel > * {
    margin-left: 5px;
    margin-right: 5px;
}

#visibility-drop-down {
    margin-top: 2px;
    background-color: whitesmoke;
    visibility: hidden;
    opacity: 0;
}

#visibility-drop-down > label {
    display: flex;
    padding-right: 8px;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
}

#visibility-drop-down > label span {
    margin-left: 3px;
    font-size: 14px;
}

#player-checkboxes > label {
    display: flex;
    padding-right: 8px;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#player-checkboxes > label span {
    margin-left: 3px;
    font-size: 14px;
}

#check-all {
    border-bottom: 1px solid black;
}

#visibility-drop-down > ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 4px;
}

/* animations */

#visibility-drop-down.visible {
    animation: show 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#visibility-drop-down.hidden {
    animation: hide 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#optionsPanel.visible {
    animation: show 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

#optionsPanel.hidden {
    animation: hide 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    1% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        visibility: visible;
    }
    99% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}